body {
  background-color: black;
  color: white;
}
.light-mode {
 background-color: white;
 color: black;
}
  .resizable {
     position: relative;
     align-items: center;
     display: flex;
     justify-content: center;
     border: 1px solid #000000;
     height: 8rem;
     width: 8rem;
  }
  .resizer {
     position: absolute;
     }
     .resizer-r {
     cursor: col-resize;
     height: 250px;
     right: 0;
     top: 0;
     width: 5px;
  }
  .resizer-b {
     bottom: 0;
     cursor: row-resize;
     height: 5px;
     left: 0;
     width: 100%;
  }
  .container1 {
     min-height: 32rem;
     padding: 10rem;
  }
  .container2 {
     min-height: 32rem;
     padding: 10rem;
  }
  .container3 {
     min-height: 32rem;
     padding: 10rem;
  }
  .container4 {
     min-height: 32rem;
     padding: 10rem;
  }
  .container5 {
     min-height: 32rem;
     padding: 10rem;
  }
  .container6 {
     min-height: 32rem;
     padding: 10rem;
  }
  .container7 {
     min-height: 32rem;
     padding: 10rem;
  }
  #chart1 {
     border: 4px solid white;
     height: 250px;
     top: 7%;
     left: 1%;
     position: absolute;
     width: 250px;
     cursor: move;
     z-index: 12;
     background-color: #000000;
     color: #fff;
  }

  #chart2 {
     border: 4px solid white;
     height: 250px;
     top: 7%;
     left: 1%;
     position: absolute;
     width: 250px;
     cursor: move;
     z-index: 12;
     background-color: #000000;
     color: #fff;
  }

  #chart3 {
     border: 4px solid white;
     height: 250px;
     top: 7%;
     left: 1%;
     position: absolute;
     width: 250px;
     cursor: move;
     z-index: 12;
     background-color: #000000;
     color: #fff;
  }

  #chart4 {
     border: 4px solid white;
     height: 250px;
     top: 7%;
     left: 1%;
     position: absolute;
     width: 250px;
     cursor: move;
     z-index: 12;
     background-color: #000000;
     color: #fff;
  }

  #chart5 {
     border: 4px solid white;
     height: 250px;
     top: 7%;
     left: 1%;
     position: absolute;
     width: 250px;
     cursor: move;
     z-index: 12;
     background-color: #000000;
     color: #fff;
  }

  #chart6 {
     border: 4px solid white;
     height: 250px;
     top: 7%;
     left: 1%;
     position: absolute;
     width: 250px;
     cursor: move;
     z-index: 12;
     background-color: #000000;
     color: #fff;
  }

  #chart7 {
     border: 4px solid white;
     height: 250px;
     top: 7%;
     left: 1%;
     position: absolute;
     width: 250px;
     cursor: move;
     z-index: 12;
     background-color: #000000;
     color: #fff;
  }
