 body {
  background-color: black;
  color: white;
}
.light-mode {
 background-color: white;
 color: black;
}
  .resizable {
     position: relative;
     align-items: center;
     display: flex;
     justify-content: center;
     border: 1px solid #000000;
     height: 8rem;
     width: 8rem;
  }
  .resizer {
     position: absolute;
     }
     .resizer-r {
     cursor: col-resize;
     height: 250px;
     right: 0;
     top: 0;
     width: 5px;
  }
  .resizer-b {
     bottom: 0;
     cursor: row-resize;
     height: 5px;
     left: 0;
     width: 100%;
  }
  .containerheader {
     min-height: 32rem;
     padding: 10rem;
     order: 3;
  }
  #header {
     border: 2px solid white;
     height: 21px;
     top: 1%;
     left: 1%;
     position: absolute;
     width: 21px;
     cursor: move;
     z-index: 12;
     background-color: #000000;
     color: #fff;
     order: 3;
  }
  .container1 {
     min-height: 32rem;
     padding: 10rem;
     order: 1;
  }
  .container2 {
     min-height: 32rem;
     padding: 10rem;
     order: 2;
  }
  .container3 {
     min-height: 32rem;
     padding: 10rem;
     order: 2;
  }
  .container4 {
     min-height: 32rem;
     padding: 10rem;
     order: 2;
  }
  .container5 {
     min-height: 32rem;
     padding: 10rem;
     order: 2;
  }
  .container6 {
     min-height: 32rem;
     padding: 10rem;
     order: 2;
  }
  .container7 {
     min-height: 32rem;
     padding: 10rem;
     order: 2;
  }
  .container8 {
     min-height: 32rem;
     padding: 10rem;
     order: 2;
  }
  .container9 {
     min-height: 32rem;
     padding: 10rem;
     order: 2;
  }
  .container10 {
     min-height: 32rem;
     padding: 10rem;
     order: 2;
  }
  .container11 {
     min-height: 32rem;
     padding: 10rem;
     order: 2;
  }
  #chart1 {
     border: 4px solid white;
     height: 250px;
     top: 7%;
     left: 1%;
     position: absolute;
     width: 250px;
     cursor: move;
     z-index: 12;
     background-color: #000000;
     color: #fff;
     order: 2;
  }
  #chart2 {
     border: 4px solid white;
     height: 250px;
     top: 7%;
     left: 21.7%;
     position: absolute;
     width: 250px;
     cursor: move;
     z-index: 12;
     background-color: #000000;
     color: #fff;
     order: 1;
  }
  #chart3 {
     border: 4px solid white;
     height: 250px;
     top: 7%;
     left: 21.7%;
     position: absolute;
     width: 250px;
     cursor: move;
     z-index: 12;
     background-color: #000000;
     color: #fff;
     order: 1;
  }
  #chart4 {
     border: 4px solid white;
     height: 250px;
     top: 7%;
     left: 21.7%;
     position: absolute;
     width: 250px;
     cursor: move;
     z-index: 12;
     background-color: #000000;
     color: #fff;
     order: 1;
  }
  #chart5 {
     border: 4px solid white;
     height: 250px;
     top: 7%;
     left: 21.7%;
     position: absolute;
     width: 250px;
     cursor: move;
     z-index: 12;
     background-color: #000000;
     color: #fff;
     order: 1;
  }
  #chart6 {
     border: 4px solid white;
     height: 250px;
     top: 7%;
     left: 21.7%;
     position: absolute;
     width: 250px;
     cursor: move;
     z-index: 12;
     background-color: #000000;
     color: #fff;
     order: 1;
  }
  #chart7 {
     border: 4px solid white;
     height: 250px;
     top: 7%;
     left: 21.7%;
     position: absolute;
     width: 250px;
     cursor: move;
     z-index: 12;
     background-color: #000000;
     color: #fff;
     order: 1;
  }
  #chart8 {
     border: 4px solid white;
     height: 250px;
     top: 7%;
     left: 21.7%;
     position: absolute;
     width: 250px;
     cursor: move;
     z-index: 12;
     background-color: #000000;
     color: #fff;
     order: 1;
  }
  #chart9 {
     border: 4px solid white;
     height: 250px;
     top: 7%;
     left: 21.7%;
     position: absolute;
     width: 250px;
     cursor: move;
     z-index: 12;
     background-color: #000000;
     color: #fff;
     order: 1;
  }
  #chart10 {
     border: 4px solid white;
     height: 250px;
     top: 7%;
     left: 21.7%;
     position: absolute;
     width: 250px;
     cursor: move;
     z-index: 12;
     background-color: #000000;
     color: #fff;
     order: 1;
  }
  #chart11 {
     border: 4px solid white;
     height: 250px;
     top: 7%;
     left: 21.7%;
     position: absolute;
     width: 250px;
     cursor: move;
     z-index: 12;
     background-color: #000000;
     color: #fff;
     order: 1;
  }
